// #account_avata{
//     float: left;
//     background: url(https://lh3.googleusercontent.com/a-/AOh14GiNkz3tH_YUkfhF2wTOxVzyGhrBlyoN_aQ3LEbV);
// }
// #account_desprition{
//     float: right;
// }

.userinfo-text{
    font-size: 0.9rem;
}
.userinfo{
    width: 20vw;
    height: 5vh;
}

